<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.gdmec.s07150808.suishouji">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".SplashScreenActivity" android:configChanges="keyboardHidden|orientation"  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".MainActivity" android:windowSoftInputMode="stateVisible|adjustPan"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".TransactionTabActivity"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".NavExpenseActivity"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".SettingAccountActivity"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".SettingAddOrEditAccountActivity"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".TransferActivity"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".KeyPad"/>

        <activity android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:name=".BudgetActivity"/>
    </application>
    <uses-sdk android:minSdkVersion="7"/>
</manifest>